@import "tailwindcss";

@theme {
  --color-blue: #2563eb;
  --color-gray: #707070;
  --color-gray-50: #f9fafb;
  --color-light-blue: #dbeafe;
  --color-black: #1f2937;
  --color-gray-text: #6b7280;
  --color-sidebar-blue: #eff6ff;
  --color-red: #dc2626;
  --color-light-gray: #e5e7eb;
  --color-blue-medium: #4284DB;
  --color-white-gray : #676D75;
  --color-light-blue : #DBEAFE;	
  --color-cream-yellow : #FFF8E1;
  --color-deep-orange : #F59E0B;

  /* text colors */
  --color-text-dark-gray: #1f2937;
  --color-text-gray: #374151;
  --color-text-light-gray: #4b5563;
  --color-gray-500: #6b7280;
  --color-text-green: #A9C23F;
  --color-brand-blue : #458BD5;
  --color-gray-100 : #F3F4F6;
  --color-gray-600 : #5F5F5F;
  --color-accent-amber-soft: #F1B4341A;
  --color-primary: #2563eb;
  --color-danger: #dc2626;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-text-yellow: #F1B434;
  

}

